distro==1.8.0
docx==0.2.4
httpx==0.26.0
ipykernel==6.26.0
langchain==0.0.351
milvus==2.3.3
openai==0.27.2
pickleshare==0.7.5
pip-chill==1.0.3
pymilvus==2.3.4
pypdf==3.17.3
python-docx==1.1.0
sentence-transformers==2.2.2